/* ******************TAG SELECTORS************* */

body {
  background-color: aquamarine;
}
h1 {
  color: red;
  font-size: 100px;
}
hr {
  border-style: dotted none none;
  border-width: 10px;
  color: silver;
  width: 5%;
}
/* img {
  background-color: red;
} */

/* ******************CLASS SELECTOR************ */
.bacon {
  background-color: lime;
}
.vegetable {
  background-color: red;
}
